*
{       
    margin: 0;
    padding: 0;
    box-sizing: border-box;  

}

@font-face {
    font-family: 'BMDoHyeon';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.ttf') format("truetype");
    font-display: swap;
} 

/* 화면에서 스크롤바 안보이게 */
::-webkit-scrollbar {   
    display: none;
}

.fullpage
{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

section 
{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A55A2;

    transition: bottom .7s;
    bottom: -100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* fade-in 효과 적용 */
.content {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.show {
    opacity: 1;
}

/* nav */
header
{
    margin-top: 40px;
    position: fixed; /* absolute로 하면 상단에 고정 */ 
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px 11px 819px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 40px;
    background: transparent;
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 103px;


}

header ul
{
    position: relative;
    display: flex;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 40px;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color:  #fff;
    margin-left: 40px;
    text-decoration: none; 
    font-family: Inter; 
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;    
}

header ul li b
{
    display: inline-block;
    color: #C5DFF8;
    margin-left: 40px;
    text-decoration: none; 
    font-family: Inter; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;    
}

header ul li:last-child a {
    color: #C5DFF8; 
    font-family: Inter; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    letter-spacing: -0.36px; 
    text-decoration: none; 
  }

header ul li a:focus {
    outline: none;
}

header ul li a:hover {
    color: #C5DFF8;
}

header ul li:last-child a:hover {
    color: #A0BFE0; 
  }

/* content */
.first
{
    bottom: 0;
}
.first .content
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.first .content .textBox
{
    position: relative;
    max-width: 600px;
    
}


.first .content .textBox h1
{
    color:  #C5DFF8;
    font-size: 4em;
    line-height: 1.4em;
    font-family: 'BMDoHyeon';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;   
    line-height: 80px;
    margin-bottom: 24px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.3;
    
}

.first .content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}

.first .content .textBox p 
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;


    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;

}

.first .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background: #C5DFF8;
    color: #4A55A2;
    border-radius: 8px;

    font-family: 'SBAggro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;

    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .3s;
} 

@keyframes anime {
    100%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
}


.first .content .button a:focus {
    outline: none;
}

 .first .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
} 



.first .content .imgBox
{
    margin-right: 46px;
    width: 754px;
    height: 319px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}


/*2번쨰*/
.second {
    background-color: #C5DFF8;
}

.second .content
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.second .content .imgBox
{
    margin-left: -650px;
    width: 516px;
    flex-shrink: 0;
    display: flex;
    position: relative;
}


.second .content .imgBox-back
{
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 849px;
    background: #FDEEFF;
    filter: blur(80.5px);
}


.second .content .textBox h1
{
    color: #4A55A2;
    text-align: right;
    font-family: 'BMDoHyeon';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.3;
}


.second.content .textBox h1 span
{
    color: #fff;
    font-weight: 400;


    display: inline-block; 
    position: relative;
}

.second .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background: #4A55A2;
    color: #C5DFF8;
    border-radius: 8px;

    font-family: 'SBAggro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;
    align-self: flex-end;
    margin-left: 800px;

    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .3s;
} 

@keyframes anime {
    100%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
}



.second .content .button a:focus {
    outline: none;
}

.second .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
} 


/*3번쨰*/
.third {
    background-color: #C5DFF8;
}

.third .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third .content .textBox
{
    position: relative;
    max-width: 600px;
    animation: slide-1 2s;
}

.third .content .textBox h1
{
    color:#4A55A2;
    font-size: 4em;
    line-height: 1.4em;
    font-family: 'BMDoHyeon';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;   
    line-height: 80px;
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.3;
}

.third .content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}

.third .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background:#4A55A2;
    color:#C5DFF8;
    border-radius: 8px;

    font-family: 'SBAggro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;

    
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .3s;
} 

@keyframes anime {
    100%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
}


.third .content .button a:focus {
    outline: none;
}

.third .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
} 



.third .content .imgBox
{
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    position: relative;
    margin-right: -1250px;
    z-index: 1;
}

.third .content .imgBox-back
{
    width: 550px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 849px;
    background: #FDEEFF;
    filter: blur(70.5px);
} 

/*4번쨰*/
.forth {
    background-color: #C5DFF8;
}

.forth .content
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.forth .content .imgBox-back
{
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 849px;
    background: #FDEEFF;
    filter: blur(80.5px);
}


.forth .content .imgBox
{
    width: 754px;
    height: 450px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    position: relative;
    margin-left: -900px;
    margin-bottom: 20px;

}

.forth .content .imgBox .guemsabba4
{
    width: 410px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 130px;
    margin-left: -120px;
}

.forth .content .textBox
{
    position: relative;
    max-width: 700px;
}

.forth .content .textBox h1
{
    color:#4A55A2;
    text-align: right;
    font-family: 'BMDoHyeon';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.3;
}

.content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}


.forth .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background:#4A55A2;
    color:#C5DFF8;
    border-radius: 8px;

    font-family: 'SBAggro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 360px;


    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .3s;
} 

@keyframes anime {
    100%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
}


.forth .content .button a:focus {
    outline: none;
}

.forth .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
} 



/* highlight */ 
@media (min-width: 1000px) {
    .span {
      font-size: 80px;
    }
}


.highlight {
    position: relative;
  }


.content:hover .highlight {
    background-image: linear-gradient(transparent 60%,  #ff8bc5 40%);
  }

.highlight::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #f39ae0;
    display: block;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
