*
{       
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* 화면에서 스크롤바 안보이게 */
::-webkit-scrollbar {   
    display: none;
}

section 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A55A2;
}

/* fade-in 효과 적용 */
.content {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.show {
    opacity: 1;
}

/* nav */
header
{
    margin-top: 40px;
    position: fixed; /* absolute로 하면 상단에 고정 */ 
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px 11px 819px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 40px;
    background: #4A55A2;
}

header ul
{
    position: relative;
    display: flex;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 40px;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color:  #fff;
    margin-left: 40px;
    text-decoration: none; 
    font-family: Inter; 
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;    
}

header ul li b
{
    display: inline-block;
    color: #C5DFF8;
    margin-left: 40px;
    text-decoration: none; 
    font-family: Inter; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;    
}

header ul li:last-child a {
    color: #C5DFF8; 
    font-family: Inter; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    letter-spacing: -0.36px; 
    text-decoration: none; 
  }

header ul li a:focus {
    outline: none;
}

header ul li a:hover {
    color: #C5DFF8;
}

header ul li:last-child a:hover {
    color: #A0BFE0; 
  }

/* content */
.first .content
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.first .content .textBox
{
    position: relative;
    max-width: 600px;
}

.first .content .textBox h1
{
    color:  #C5DFF8;
    font-size: 4em;
    line-height: 1.4em;
    font-family: Amiko;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;   
    line-height: 80px;
    margin-bottom: 24px;
}

.first .content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}

.first .content .textBox p 
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;


    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;

}

.first .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background: #C5DFF8;
    color: #4A55A2;;
    border-radius: 8px;

    font-family: ABeeZee;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;
}

.first .content .button a:focus {
    outline: none;
}

.first .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
}

.first .content .imgBox
{
    margin-right: 46px;
    width: 754px;
    height: 319px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}


/*2번쨰*/
.second .content
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.seccond .content .imgBox
{
    margin-right: 46px;
    width: 383px;
    height: 385px;
    flex-shrink: 0;
    padding-right: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.seccond .content .textBox
{
    position: relative;
    max-width: 608px;
    display: inline-flex;
    justify-content: flex-end;
}

.second .content .textBox h1
{
    color: #C5DFF8;
    text-align: right;
    font-family: Amiko;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    margin-bottom: 24px;
}

.content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}

.second .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background: #C5DFF8;
    color: #4A55A2;;
    border-radius: 8px;

    font-family: ABeeZee;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;
    align-self: flex-end;
    margin-left: 800px;
}

.second .content .button a:focus {
    outline: none;
}

.second .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
}


/*3번쨰*/
.third .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third .content .textBox
{
    position: relative;
    max-width: 600px;
}

.third .content .textBox h1
{
    color:  #C5DFF8;
    font-size: 4em;
    line-height: 1.4em;
    font-family: Amiko;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;   
    line-height: 80px;
    margin-bottom: 24px;
}

.third .content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}

.third .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background: #C5DFF8;
    color: #4A55A2;;
    border-radius: 8px;

    font-family: ABeeZee;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;
}

.third .content .button a:focus {
    outline: none;
}

.third .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
}

.third .content .imgBox
{
    margin-right: 46px;
    width: 754px;
    height: 319px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

/*4번쨰*/
.forth .content
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.forth .content .imgBox
{
    margin-left: 46px;
    width: 754px;
    height: 319px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 50px;
}

.forth .content .imgBox .guemsabba4
{
    width: 350px;
    height: 267px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 130px;
    margin-left: -100px;
}

.forth .content .textBox
{
    position: relative;
    max-width: 600px;
}

.forth .content .textBox h1
{
    color: #C5DFF8;
    text-align: right;
    font-family: Amiko;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    margin-bottom: 24px;
}

.content .textBox h1 span
{
    color: #fff;
    font-weight: 700;
}


.forth .content .button a
{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 24px;

    background: #C5DFF8;
    color: #4A55A2;
    border-radius: 8px;

    font-family: ABeeZee;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 250px;
}

.forth .content .button a:focus {
    outline: none;
}

.forth .content .button a:hover {
    background-color: #A0BFE0;
    color: #303031;
}